body {
  border: 5px solid #ccc;
}

p {
  /* bydefault the height and widht of an element is auto (according to content)*/
  background-color: bisque;
  /* height: 500px;
  width: 500px; */
 
   /* percentage take the percetage of its parent element */
  height: 70%;
  width: 80%;

  /* minimum barrier for the min and max height for the element        */
  max-width: 500px;
  max-height: 500px;
  min-height: 300px;
  min-width: 300px;
}
